@model StudentManagement.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DOB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DOB)
        </dd>
    </dl>
</div>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Enrollments)
</dt>
<dd class="col-sm-10">
    <table class="table">
        <tr>
            <th>Course Title</th>
            <th>Grade</th>
        </tr>
        @foreach (var enrollment in Model.Enrollments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => enrollment.Course.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => enrollment.Grade)
                </td>
            </tr>
        }
    </table>
</dd>
If code indentation is wro
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StudentID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
